<p id="notice"><%= notice %></p>

<h1>Bibliotecas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bibliotecas.each do |biblioteca| %>
      <tr>
        <td><%= biblioteca.nome %></td>
        <td><%= biblioteca.endereco %></td>
        <td><%= link_to 'Show', biblioteca %></td>
        <td><%= link_to 'Edit', edit_biblioteca_path(biblioteca) %></td>
        <td><%= link_to 'Destroy', biblioteca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Biblioteca', new_biblioteca_path %>
