<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @biblioteca.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @biblioteca.endereco %>
</p>

<%= link_to 'Edit', edit_biblioteca_path(@biblioteca) %> |
<%= link_to 'Back', bibliotecas_path %>
