<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @livro.nome %>
</p>

<p>
  <strong>Numero identificacao:</strong>
  <%= @livro.numero_identificacao %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @livro.quantidade %>
</p>

<%= link_to 'Edit', edit_livro_path(@livro) %> |
<%= link_to 'Back', livros_path %>
